body{
    margin: 0;
    padding: 0;
    background: url(tesla.jpeg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background: url(Tesla\ M3.png);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background: url(TeslaMotors.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}