* {
    padding: 0;
    margin: 0;
}

header h1 {
    padding-top: 20px;
}

.navegacion {
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 50px;
    text-align: left;
    align-items: center;
}

.navegacion a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 15px;
}

.contenedor {
    display: flex;
}

.contenedor aside {
    width: 20%;
    height: 500px;
    background-color: rgb(128, 128, 128);
}
.contenedor main {
    background-color: rgb(173, 173, 173);
    width: 80%;
}

.contenedor aside p {
    padding: 10px;
}

.contenedor main p {
    padding: 10px;
}

.contenedor article {
    padding: 10px;
}

footer {
    padding: 20px;
    text-align: center;
}