p{
    color: red;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}
#para{
    color:blue;
    text-align: right;
    font-size: 50px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
}
.divClass{
    text-align: justify;
    color: black;
    font-size: 25px;
    border: 5px solid red;
    height: 100px;
    width: 50%;
    background-color: aquamarine;
}